{% extends "admin/admin.html" %}
{% import "_macros.html" as macros %}
{% block title %}合肥国米{% endblock %}
{% block page_content %}
<div class="col-md-8 ">
      <table class="table table table-hover " >
          <caption><p>用户列表</p></caption>
          <tr>
              <td>ID</td>
              <td>用户名</td>
              <td>真实姓名</td>
              <td>邮箱</td>
              <td>创建时间</td>
              <td>最后登录时间</td>
              <td>删除</td>
          </tr>
          {% for user in users %}
          <tr>
              <td>{{ user.id }}</td>
              <td>{{ user.username }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.create_time }}</td>
              <td>{{ user.last_seen }}</td>
              <td>
                  <form method="post">
                      <button name="user", value="{{ user.id }}" style="color: red">x</button>
                  </form>
              </td>
          </tr>
          {% endfor %}
      </table>
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.manager_user') }}
</div>
{% endif %}
{% endblock %}