{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<div class="row hfmatch">
     <div class="col-md-2 ">
         <h3>比赛时间</h3>
          <ul class="nav nav-pills nav-stacked" role="tablist">
                <li><a href="{{ url_for('main.match', year=2016) }}">2016年</a></li>
                <li><a href="{{ url_for('main.match', year=2015) }}">2015年</a></li>
                <li><a href="{{ url_for('main.match', year=2014) }}">2014年</a></li>
                <li><a href="{{ url_for('main.match', year=2013) }}">2013年</a></li>
          </ul>
     </div>
  <div class="col-md-8 ">
      <table class="table table-striped ">
          <caption><p>2016年小国际比赛信息</p></caption>
          <tr>
              <td>比赛</td>
              <td>日期</td>
              <td>球队</td>
              <td>比分</td>
              <td>进球</td>
              <td>助攻</td>
              <td>最佳球员</td>
          </tr>
          {% for match in matches %}
          <tr>
              <td>{{ match.id }}</td>
              <td>{{ match.date }}</td>
              <td>{{ match.competitor }}</td>
              <td>{{ match.score }}</td>
              <td>{{ match.shooter }}</td>
              <td>{{ match.assist}}</td>
              <td>{{ match.excellent }}</td>
          </tr>
          {% endfor %}
      </table>
      <div class="row">
          <div class="col-sm-6"><p>射手榜</p>
              <table class="table table-bordered">
                  <tr>
                      <td>排名</td>
                      <td>球员</td>
                      <td>进球数</td>
                      <td>场均</td>
                  </tr>
                  <tr class="danger">
                      <td>1</td>
                      <td>18号(徐煜）</td>
                      <td>28球</td>
                      <td>0.68球</td>
                  </tr>
                  <tr class="warning">
                      <td>2</td>
                      <td>6号（阿贝）</td>
                      <td>25球</td>
                      <td>0.71球</td>
                  </tr>
                  <tr class="info">
                      <td>3</td>
                      <td>27号（刘珊）</td>
                      <td>19球</td>
                      <td>0.53球</td>
                  </tr>
                  <tr class="active">
                      <td>4</td>
                      <td>20号（奚漂亮）</td>
                      <td>18球</td>
                      <td>0.46球</td>
                  </tr>
              </table>
          </div>
          <div class="col-sm-6"><p>助攻榜</p>
              <table class="table table-bordered">
                  <tr>
                      <td>排名</td>
                      <td>球员</td>
                      <td>助攻数</td>
                      <td>场均</td>
                  </tr>
                  <tr class="danger">
                      <td>1</td>
                      <td>27号(刘珊）</td>
                      <td>15球</td>
                      <td>0.42球</td>
                  </tr>
                  <tr class="warning">
                      <td>2</td>
                      <td>20号（奚漂亮）</td>
                      <td>13球</td>
                      <td>0.33球</td>
                  </tr>
                  <tr class="info">
                      <td>3</td>
                      <td>6号（阿贝）</td>
                      <td>9球</td>
                      <td>0.26球</td>
                  </tr>
                  <tr class="active">
                      <td>4</td>
                      <td>28号（老吴）</td>
                      <td>8球</td>
                      <td>0.24球</td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>

{% endblock%}