{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block title %}合肥国米{% endblock %}
{% block page_content %}
{% include '_posts.html' %}
<div class="content hfstyle">
    {% if current_user.can(Permission.WRITE_ARTICLES) %}
    {{ wtf.quick_form(form) }}
    <a class="btn btn-default btn-lg btn-block">发表文章</a>
    {% endif %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.news', id=posts[0].id) }}
</div>
{% endif %}
{% endblock %}
{% block scripts %}
{{ super() }}
<script>
$(document).ready(function(){
    //限制字符个数
    $(".post-body").each(function(){
        var maxwidth=200;
        if($(this).text().length>maxwidth){
            $(this).text($(this).text().substring(0,maxwidth));
            $(this).html($(this).html()+'...');
        }
    });
});
</script>
{{ pagedown.include_pagedown() }}
{% endblock %}