{% extends "base.html" %}
{% block content %}
<div class="content">
    <a href="{{ url_for('main.index') }}"><img class="imgsize" src="../static/apple-touch-icon-180x180.png"></a>
    <h1>大合肥小国际国际米兰球迷队</h1>
    <p>大合肥小国际球迷队是一只以国际米兰球迷为班底打造的业余足球队，以球会友，寓教于乐，立志为安徽内拉们打造一个优质的交流平台。</p>
    <p>球队成立于2013年3月9日，历经3年，通过队员的努力，球队在合肥各大业余联赛均取得傲人成绩，目前球队在册球员40名，均为资深内拉，队内气氛融洽，队员之间友爱互助</p>
    <p>大合肥小国际球迷队是一只专业优良的球迷队，球队常年与全国各大国米球迷组织进行交流，是安徽唯一一只国球球迷认证的球队，球队常年招收国米内拉，在这里，你可以一起踢球，可以一起交流，甚至可以去朝圣，球队QQ群：4515495</p>
</div>
{% endblock%}
